body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  color: rgb(23, 23, 23);
}

#root {
  max-width: 680px;
  margin: 0 auto;
  /* padding: 42px 21px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.main {
  padding: 40px 20px;
}

img, video {
  width: 100%;
  height: auto;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

div[data-grid-img] {
  display: flex;
  gap: 10px;
}