ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}

li {
  /* display: flex; */
  gap: 6px;
}

li a {
  font-size: 16px;
  /* font-weight: 500; */
  text-decoration: none;
  color: rgb(23, 23, 23);

  :hover {
    color: rgb(14, 82, 241);
  }
}

.title a {
  /* font-size: 1.75rem; */
  text-decoration: none;
  /* color:  */
}